# Ambiente virtual
venv/
env/
ENV/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log